.bar {
    position: relative;
    margin-bottom: 16px;
}
.nav{
    font-size: 14px;
    &:after,
    &:before {
        display: table;
        content: ' ';
    }
    &:after{
        clear: both;
    }
}
.tab {
    float: left;
    list-style: none;
    margin-right: 24px;
    padding: 8px 20px;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
}
