.p-about{
    .c-banner{
        margin-bottom: 20px;
    }
    .about-container{
         width: 1000px;
         margin: 0 auto;
         .about-article {
             float: left;
             margin-right: 30px;
         }
         .about-aside{
             float: right;
         }
     }
}
