@import "variables";
body #app{
    position: relative;
    background-color: #fff;

}
.g-app{

}

//选择状态的文字样式

::selection {
    background: $main-hover-color;
    color: #fff;
}
::-moz-selection {
    background: $main-hover-color;
    color: #fff;
}
::-webkit-selection {
    background: $main-hover-color;
    color: #fff;
}
