.c-banner{
    height: 417px;
    background-color: #808080;
    background-size:cover;
    .banner-content{
        padding: 150px 0;
        margin: 0 auto;

        color: #ffffff;
        text-align: center;
        .content-title{
            font-weight: 700;
            line-height: 1.1;
            font-size: 80px;
            margin-bottom: 10px;
        }
        .content-detail{
            font-weight: 300;
            font-size: 18px;
        }
    }
}
