@import "variables";
.c-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    transition: all 0.5s ease-in-out;
    .header-logo{
        float: left;
        padding:0 60px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        font-weight: 800;
    }
    .header-nav{
        float: right;
        .nav-item{
            display: inline-block;
            padding:0 20px;
            height: 60px;
            font-weight: 800;
            font-size: 15px;
            line-height: 60px;
        }
    }
    //top状态
    &.top{
        color: #ffffff;
        .header-logo{
            &:hover{
                color: rgba(255,255,255,0.8);
            }
        }
        .nav-item{
            color: #ffffff;
            &:hover{
                color:rgba(255,255,255,0.8);
            }
        }
    }
    //up状态
    &.up {
        background-color: rgba(255,255,255,0.9);
        color: $main-color;
        .header-logo{
            &:hover{
                color: $main-hover-color;
            }
        }
        .nav-item{
            color: $main-color;
            &:hover{
                color:$main-hover-color;
            }
        }
    }
    &.down {
        transform: translate(0,-60px);
    }
}
