//task-1
.task-1 .item {
    padding: 4px;
    margin: 0 2px;
    border: 1px solid #ccc;
    ul {
        list-style: none;
    }
}

//task-5
.task-5 {
    .aqi-chart-wrap {
        display: flex;
        width: 90%;
        height: 500px;
        justify-content: center;
        align-items: flex-end;
        align-content: center;
        margin: 10px auto;
        padding: 10px;
        border: 2px solid #000;
        .item {
            margin: 0 2px;
            flex: 1;
        }
    }
}

//task-6
.task-6 {
    width: 645px;
    margin-top: 20px;
    .btn-item {
        margin: 0 30px;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        background-color: rgb(105, 165, 91);
        cursor: pointer;
        user-select: none;
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
    }
    input {
        margin-top: 5px;
    }
    .queueArr {
        margin: 10px 0;
    }
    .queue-item {
        float: left;
        margin: 0 20px;
        padding: 0 5px;
        list-style: none;
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        background-color: #222222;
    }
    p {
        padding-left: 20px;
        clear: both;
    }
    .clearfix {
        clear: both;
    }
}

//task-7
.task-7 {
    width: 800px;
    margin-top: 20px;
    .btn-item {
        margin: 0 30px;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        background-color:#2980d5;
        cursor: pointer;
        user-select: none;
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
    }
    input {
        margin-top: 5px;
    }
    .queueArr {
        display: flex;
        height: 180px;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 5px;
        .queue-item {
            display: inline-block;
            color: #FFF;
            background-color: #ab9999;
            padding: 4px;
            padding-top: 5px;
            margin: 2px;
            width: 12px;
            font-size: 8;
            text-align: center;
            transition:all 0.1s ease-in-out;
            &.match{
            	background-color: #2980d5;
            }
        }
    }
    p {
        padding-left: 20px;
        clear: both;
    }
}
