body{
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    //&:link {
    //    color: #fff;
    //}
    //&:visited{
    //    color: #fff;
    //}
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
