@import "../../styles/variables";

.root{
    background-color: #fff;
}
.articles{
    width: 850px;
    margin: 30px auto;
}
.pagination{
    margin-top: 15px;
    text-align: center;
}
[data-role="article-card"] {
    margin-bottom: 15px;
}
