@import "../../styles/variables";

.root {

}

//一些全局的样式
:global {

    //页面切换动画
    .page-animation-enter {
        opacity: 0;
        transform: translateX(50px);
        transition: all 500ms ease-in;
    }

    .page-animation-enter.page-animation-enter-active {
        opacity: 1;
        transform: translateX(0);
    }

    .page-animation-leave {
        opacity: 1;
        transition: all 200ms ease-out;
    }

    .page-animation-leave.page-animation-leave-active {
        opacity: 0.01;
    }

    //选择状态的文字样式
    ::selection {
        background: $main-hover-color;
        color: #fff;
    }
    ::-moz-selection {
        background: $main-hover-color;
        color: #fff;
    }
    ::-webkit-selection {
        background: $main-hover-color;
        color: #fff;
    }

}

[data-role="footer"] {
    margin-top: 30px;
}
