@import "../../styles/variables";

.root{

}

//一些全局的样式
:global{

    //选择状态的文字样式
    ::selection {
        background: $main-hover-color;
        color: #fff;
    }
    ::-moz-selection {
        background: $main-hover-color;
        color: #fff;
    }
    ::-webkit-selection {
        background: $main-hover-color;
        color: #fff;
    }

}
