.root{
    height: 417px;
    background-color: #808080;
    background-size:cover;

}
.content{
    padding: 150px 0;
    margin: 0 auto;

    color: #ffffff;
    text-align: center;


}
.title{
    font-weight: 700;
    line-height: 1.1;
    font-size: 80px;
    margin-bottom: 10px;
}
.detail{
    font-weight: 300;
    font-size: 18px;
}
