.root{
    position: relative;
    height: 417px;
}
.bg{
    position: absolute;
    z-index:0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #808080;
    background-size:cover;
    transition: all ease-in 0.4s;
}

.content{
    position: relative;
    z-index: 1;

    padding: 150px 0;
    margin: 0 auto;

    color: #ffffff;
    text-align: center;


}
.title{
    font-weight: 700;
    line-height: 1.1;
    font-size: 80px;
    margin-bottom: 10px;
    text-shadow: 0 0 1px #000;
    transition: all 0.3s ease;
    &:hover{
        text-shadow: 5px 5px 1px #000;
    }
}
.detail{
    font-weight: 300;
    font-size: 18px;
    text-shadow: 0 0 1px #000;
    transition: all 0.3s ease;
    &:hover{
        text-shadow: 5px 5px 1px #000;
    }
}
